.most-agenda a{
 text-decoration: none;
}

.most-agenda{
  font-family: "ヒラギノ角ゴシック";

  margin-top: 20px;
}

.most-agenda > div{
  margin-top: 20px;
}

.most-agenda p{
  margin: 0;
}

.most-agenda div{
  font-size: 30px;

  border-radius: 20px;

  min-height: 80px;
}

.most-agenda > div > div{
  margin: 0 10px;
}

.most-agenda > div > div:first-child{
  margin-left: 0px;
}

.most-agenda > div > div:last-child{
  margin-right: 0px;
}

.most-agenda-date{
  color: white;
  background-color: #0B0D0C;

  font-size: 29px;
}

.most-agenda-longdate{
  font-size: 30px;

  margin-left: 0 !important;
  margin-right: 0 !important;
}

.most-agenda-download {
  padding-right: 0;
}

.most-agenda-header {
  margin-top: 0 !important;
}

.most-agenda-header > div:first-child {
  background-color: #E6E6E6;
}

.most-agenda-header > div:nth-child(2) {
  background-color: #FFDB5F;

  color: white;
}

.most-agenda-header > div:last-child {
  background-color: #0B0D0C;

  color: white;
}

.most-agenda-row div {
  font-size: 24px;
}

.most-agenda-row > div:first-child {
  background-color: #E6E6E6;
}

.most-agenda-row > div:not(:first-child) {
  border: #707070 1px solid;
}

.most-agenda-row-text {
  padding: 17px 0;
}

@media (max-width: 768px) {
  .most-agenda div{
    font-size: 18px;

    min-height: 38px;
  }

  .most-agenda-title > div:first-child{
    font-size: 20px;
  }

  .most-agenda-title > div:last-child{
    font-size: 24px;
  }
}

@media (max-width: 576px) {
  .most-agenda div{
    font-size: 17px;

    min-height: 38px;
  }

  .most-agenda-title > div:first-child{
    font-size: 17px;
  }

  .most-agenda-title > div:last-child{
    font-size: 20px;
  }

  .most-agenda-row div {
    font-size: 12px;
  }

  .most-agenda > div > div{
    margin: 0 3px;
  }
}