header{
  position: relative;

  /* max-width: 1189px; */
}

.most-banner {
  position: relative;

  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  margin-bottom: 40px;
}

.most-banner img{
  width: 100%;
}

.most-tab-list{
  background-color: #E6E6E6;

  height: auto;

  padding: 17px 17px 17px 17px;
}
