.most-alert-bg{
  font-weight: bold;

  color: white;
  background-color: #FF6565;

  width: 100%;
  height: auto;

  border-radius: 10px;

  margin-bottom: 25px;

  padding: 20px;

  box-shadow: #c1c1c1 5px 5px;
}

@media (max-width: 576px) {
  .most-alert-bg > span, .most-alert-bg > div{
    font-size: 24px;
  }
}