@font-face {
  font-family: "ヒラギノ角ゴシック";
  src: url("/hiragino-sans/ヒラギノ角ゴシック-W8.ttc")
}

.most-tab {
  font-size: 22px;
  font-family: "ヒラギノ角ゴシック";
  font-weight: bold;

  border: 0;
  border-radius: 3em;

  cursor: pointer;
  display: inline-block;
  line-height: 1;

  height: 2.5em;
  width: 100%;
  max-width: 180px;

  background-color: #ffffff;
  color: black;

  box-shadow: #C1C1C1 5px 5px;
}

.most-tab--selected {
  box-shadow: #FFDB5F 5px 5px;
}